.header-background {
    background: linear-gradient(to right, #4631d4 70%, #caf280 30%);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode .header-background {
    background: linear-gradient(to right, #171042 70%, #211f0b 30%);
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65vw;
    margin-top: 150px;
}

.header-name-location {
    display: flex;
    align-items: flex-end;
}

.header-name {
    font-family: "Roboto";
    font-size: 50px;
    color: #caf280;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 475px;
    gap: 50px
}

.lang-button {
    border: none;
    background-color: #4631d4;
    color: #d9d9d9;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 700;
    letter-spacing: 3px;
    width: 200px;
}

.dark-mode .lang-button {
    background-color: #171042;
    color: #787878;
}

.lang {
    color: #cbf283;
}

.dark-mode .lang {
    color: #bbb3e8;
}

#switch {
    font-size: 20px;
    background-color: #8F88FF;
    border: none;
}

.dark-mode #switch {
    background-color: #caf280;
}

.header-mode {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 700;
    color: #4631d4;
    letter-spacing: 3px;
}

.dark-mode .header-mode {
    color: #d9d9d9;
}

.form-check {
    width: 193px;
}

@media (max-width: 768px) {
    .header-background {
        height: auto;
        padding: 20px 0;
        background: #4631d4;
    }

    .dark-mode .header-background {
        background: #171042;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
        margin-top: 50px;
        gap: 20px;
    }

    .header-name {
        font-size: 36px;
        text-align: center;
    }

    .header-buttons {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .lang-button {
        width: 80%;
        font-size: 18px;
        text-align: center;
    }

    .form-check {
        width: 60%;
        display: flex;
        justify-content: center;
        margin-left: 45px;
    }

    .header-mode {
        font-size: 18px;
        text-align: center;
        color: #caf280;
    }
}