.profile-background {
    background-color: #4631d4;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode .profile-background {
    background-color: #171042;
}

.profile-container {
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    width: 65vw;
    text-align: left;
    color: #caf280;
    font-family: "Roboto";
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 25px;
}

.profile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65vw;
    height: 380px;
}

.profile-basic {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-header2 {
    font-family: "Roboto";
    color: white;
    font-size: 40px;
    margin: auto;
    font-weight: 400;
    text-align: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.profile-personal {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.profile-personal-header {
    color: #caf280;
    font-weight: 550;
    font-size: 20px;
    font-family: "Roboto";
    width: 150px;
}

.profile-personal-text {
    color: white;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 350;
    width: 250px;
}

.profile-img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-about {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-personal-text2 {
    color: white;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: 350;
    line-height: 35px
}

@media (max-width: 768px) {
    .profile-background {
        height: auto;
        padding: 40px 0;
    }

    .profile-container {
        width: 90vw;
    }

    .profile-header {
        font-size: 40px;
        text-align: left;
        width: 100%;
    }

    .profile-info {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 30px;
    }

    .profile-basic,
    .profile-about {
        width: 100%;
        align-items: flex-start;
    }

    .profile-img {
        width: 250px;
        height: auto;
    }

    .profile-header2 {
        font-size: 28px;
        text-align: center;
    }

    .profile-personal {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        gap: 40px;
        margin-bottom: 10px;
    }

    .profile-personal-header,
    .profile-personal-text {
        font-size: 18px;
        text-align: left;
        width: 200px;
    }

    .profile-personal-text2 {
        font-size: 20px;
        text-align: left;
        line-height: 30px;
    }
}