.skills-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 50px auto
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65vw;
}

.skills-header {
    color: #4833d4;
    font-size: 70px;
    font-family: "Roboto";
    width: 25%;
    margin-top: 0;
}

.dark-mode .skills-header {
    color: #caf280;
}

.skills-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 100px;
}

.skills-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    gap: 20px;
}

.skills-icons {
    width: 150px;
    height: 150px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skills-text {
    font-family: "Roboto";
    color: #787878;
    font-size: 40px
}

.dark-mode .skills-text {
    color: #ffffff;
}

@media (max-width: 820px) {
    .skills-background {
        height: auto;
        padding: 40px 0;
        margin: 20px auto;
    }

    .skills-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90vw;
    }

    .skills-header {
        font-size: 40px;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }

    .skills-skills {
        width: 100%;
        justify-content: center;
        gap: 30px;
    }

    .skills-total {
        flex-direction: column;
        align-items: center;
        width: 40%;
        text-align: center;
    }

    .skills-icons {
        width: 100px;
        height: 100px;
    }

    .skills-text {
        font-size: 25px;
    }
}